.footer{
    height: 15vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
}
.socials{
    display: flex;
    justify-content: space-around;
    width: 10vw;
}
.socials a{
    color: white;
}
